body {
  font-family: "Open Sans", sans-serif;
}

h3,
.card-body > .card-title {
  font-family: "Lobster", cursive;
}

h1 {
  font-family: "Caveat Brush", sans-serif;
  color: black;
  
}



.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  
  color: black;
  
  
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content { 
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-color: #05e8ba;
  background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);  
  padding: 20px 0;
  margin-top: 2rem;
}

.headerNavBrand {
  max-width: 4rem;
  margin-right: 2rem;
}

.headerNavBrand{
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 4rem;
  
}



.logo {
  width: 50%;
  height: 50%;
  margin-right: 2rem;
  max-width: 10rem;
  
}

.headerNavBar {
  background-color: #05e8ba;
  background-image: linear-gradient(270deg, #05e8ba 0%, #087ee1 74%);
  min-height: 8rem;
  margin-bottom: -25px;
}



.navbarComp{
  background-color: #05e8ba;
  background-image: linear-gradient(270deg, #05e8ba 0%, #087ee1 74%);
  
  margin-bottom: 20px;
  
}



.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

.link{
  color: white;
}



.imageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Adjust this value to control the spacing */
  
}

.imageContainer {
  overflow: hidden;
  border-radius: 15px; /* Adjust the radius as needed */
}

.image {
  width: 100%;
  height: auto;
}



.col-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
}

.RowContenth5{
  font-family: "Caveat Brush", sans-serif;
  color: black;
  font-size: 100px;
  text-align: center;

}

.search-container {
  display: flex;
  align-items: right;
  justify-content: flex-end; 
}


.SearchInput{
  border-width: 4px;
  border-radius: 10px;
}

.SearchInputButton {
  display: flex;
  gap: 10px; 
  align-items: center;
}

.book-card {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); 
}

.book-card:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1); 
}