body {
  font-family: "Open Sans", sans-serif;
}

h3,
.card-body > .card-title {
  font-family: "Lobster", cursive;
}

h1 {
  font-family: "Caveat Brush", sans-serif;
  color: black;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  
  color: black;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0;
  margin-top: 2rem;
}

.Headercomp2 {
  max-width: 4rem;
  margin-right: 2rem;
}

.Headercomp2 {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 4rem;
}



img {
  width: 150%;
  height: 100%;
  margin-right: 2rem;
  max-width: 10rem;
}

.Headercomp {
  background-color: #05e8ba;
  background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
  margin-bottom: 2rem;
  min-height: 8rem;
}

#test2 {
  background-color: yellow;

}

#test1 {
  background-color: yellow;

}
.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}
